body {
  background: linear-gradient(-45deg, #fafafa, #F9F8EB);
  color: #111111;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 200;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  padding: 20px;
}

/*.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: -5vw;
  width: 5vw;
  height: 100%;
  background-color: #111111;
}*/

header, section {
/*  width: 90%;*/
  display: block;
}

header {
  background: linear-gradient(135deg, #FEFCE2, #FEFCE200);
  border-top: 1px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}

.logoImg {
  max-width: 300px;
}

h2 {
  font-size: 18px;
  font-weight: 200;
}

table {
  width: 100%;
  border-collapse: collapse;
/*  margin: 30px 0;*/
  font-size: 12px;
  text-align: left;
}

/*table::before {
  content: "";
  position: absolute;
  top: 0;
  left: -16px;
  width: 16px;
  height: 100%;
  background-color: #111111;
}*/

.project-name {
  font-weight: 400;
}

tr {
  cursor: pointer;
/*  transition: background-color 0.3s ease;*/
  border-bottom: 2px solid #ffffff;
  height: 48px;
}

tr:hover {
  background-color: #ffffff;
/*  transition: background-color 0.5s ease;*/
}

td, th, .desc {
  padding: 12px 15px;
}

th {
  font-family: 'Krona One', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  background: linear-gradient(135deg, #FEFCE2, #FEFCE200);
  font-variant: all-small-caps;
}

.arrow {
  text-align: right;
  font-size: 18px;
  color: #111111;
}

a {
  color: #111111;
  font-variant: all-small-caps;
}

a:hover {
  background: white;
}

@media screen and (max-width: 45rem ) {
  body {
    background: linear-gradient(-45deg, #fafafa, #F8F7E9);
  }
  
  .container {
    width: 100%;
  }

  .project-description {
    display: none;
  }

  .logoImg {
    width: 100%;
  }
}